{% extends "base.html" %}

{% block title %}
Зарубежные знаменитости
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/allstars.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Зарубежные Знаменитости</h1>
    
    {% for celebrity in foreign_celebrities %}
    <div class="celebrity-card">
        <div class="photo-section">
            <div class="photo-placeholder" style="background-image: url('/static/{{ celebrity.image_url | trim }}')"></div>
        </div>
        
        <div class="info-section">
            <h2 class="celebrity-name">{{ celebrity.name }}</h2>
            <div class="celebrity-description">
                <p>{{ celebrity.description }}</p>
            </div>
            
            <div class="card-footer">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}