{% extends  "base.html" %}

{% block  title %}
Профиль
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block  content %}

<div class="tabs-container">
  <input type="radio" name="tabs" id="tab-settings" checked>

  <div class="container">
    <aside class="sidebar">   
      <div class="user-card">
        <h2 class="user-name">Привет, {{ user.username }}</h2>
      </div>
      <div class="tabs">
        <label for="tab-settings" class="nav-btn">Настройки</label>
      </div>
    </aside>

    <section class="content">
      <div class="tab-content" id="content-settings">
        <h2>Настройки</h2>
        <p>Здесь вы можете изменить личные данные, пароль и другие настройки аккаунта.</p>

        <form class="settings-form" method="post" action="{{ url_for('user_settings.settings') }}">
            <label for="new-username">Новое имя пользователя:</label>
            <input type="text" id="new-username" name="new-username">

            <label for="new-password">Новый пароль:</label>
            <input type="password" id="new-password" name="new-password">

            <button type="submit">Сохранить изменения</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <p class="{{ category }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
        {% endwith %}
      </div>

{% endblock %}