{% extends  "base.html" %}

{% block  title %}
Знаменитости
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/starsinfo.css') }}">
{% endblock %}

{% block  content %}

<body>
    <div class="container">
        <h1 class="text-center">{{ celebrity.name }}</h1>
        <div class="celebrity-details">
            <img src="{{ celebrity.image_url }}" alt="{{ celebrity.name }}" class="img-fluid mb-3">
            <p>{{ celebrity.description }}</p>
        </div>
        <a href="{{ url_for('Stars') }}" class="btn btn-primary">Назад к знаменитостям</a>
    </div>
</body>

{% endblock %}