{% extends  "base.html" %}

{% block  title %}
Знаменитости
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stars.css') }}">
{% endblock %}

{% block  content %}

<body>

  <div class="celebrities-header">
    <div class="container">
        <h1 class="celebrities-title">Знаменитости</h1>
        <div class="category-buttons">
            <a href="{{ url_for('Forstars') }}" class="category-btn foreign-btn">
                <span>Зарубежные Знаменитости</span>
            </a>
            <a href="{{ url_for('Rustars') }}" class="category-btn russian-btn">
                <span>Русские Знаменитости</span>
            </a>
        </div>
    </div>
</div>

</body>

{% endblock %}

