{% extends  "base.html" %}

{% block  title %}
Знаменитости
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stars.css') }}">
{% endblock %}

{% block  content %}

<body>

    <div class="container">
        <h1>Знаменитости</h1>
        <div class="select-buttons">
            <a href="{{ url_for('Forstars') }}"><button>Зарубежные Знаменитости</button></a>
            <a href="{{ url_for('Rustars') }}"><button>Русские Знаменитости</button></a>
        </div>
    </div>

</body>

{% endblock %}

