{% extends  "base.html" %}

{% block  title %}
Знаменитости
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/starsinfo.css') }}">
{% endblock %}

{% block  content %}

<body>

    <div class="containerinfo">
        <div class="headerinfo">
            <h1>Ирина Шейк</h1>
        </div>

        <div class="celebrity-info">
            <img src="https://example.com/photo.jpg" alt="Ирина Шейк">
            <div>
                <h2>О знаменитости</h2>
                <p>Ирина Шейк — российская супермодель и актриса. Она известна своими работами с крупнейшими модными брендами, такими как Victoria's Secret, Gucci и других. Ирина активно участвует в благотворительных акциях и является одним из самых известных лиц в мире моды.</p>
            </div>
        </div>
</body>

{% endblock %}